In [1]:
#Kernel: Python
a = 4
print(a)

4

In [2]:
#Kernel: Python
a = 6
b = 7
a + b

13

In [3]:
#Kernel: Legend
db local::DuckDuckConnection

Column Name,Type
Athlete,VARCHAR(0)
Age,BIGINT
Country,VARCHAR(0)
Year,BIGINT
Date,DATE
Sport,VARCHAR(0)
Gold,BIGINT
Silver,BIGINT
Bronze,BIGINT
Column Name,Type
city,VARCHAR(0)
country,VARCHAR(0)
year,BIGINT
tree,BIGINT
Column Name,Type
EMPLOYEE_ID,BIGINT
FIRST_NAME,VARCHAR(0)
LAST_NAME,VARCHAR(0)
EMAIL,VARCHAR(0)
PHONE_NUMBER,VARCHAR(0)
HIRE_DATE,VARCHAR(0)
JOB_ID,VARCHAR(0)
SALARY,BIGINT
COMMISSION_PCT,BIGINT
MANAGER_ID,BIGINT
DEPARTMENT_ID,BIGINT